.App {
  text-align: center;
}

table {
  margin: 50px auto;
  width: 90%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid;
}

th, td {
  padding: 5px;
}

label {
  margin-right: 10px;
}

button {
  padding: 5px 10px;
}
